{%extends "header_footer.html"%}
{%load staticfiles%}


{%block content%}


<br>
<br>
<div class="jumbotron jumbotron-fluid" id="first_jumbo1">
  <div class="container text-center ">
    <h2>About This Project</h2>

    <!-- <h3>This pa</h3> -->
  </div>
  </div>
  <div class="container">
    <h4>This project was developed as an advanced blog project.<br>
       it contains a lot more features than an average blog project by newbies.
       i took inspiration from medium, though it turned out differently.<br>
       i included some external packages but most of the funtionalities where developed in-house by me,<br>
       like the recommendation engine which i built to recommend posts based on people you follow,<br>
   the cartegories you are interested in and your browsing history. you can find all the details <br>
   in my github following the link  </h4>
    <h3>Features</h3>
    <ul>
      <li>Signup</li>
      <li>logging</li>
      <li>create posts</li>
      <li>A recommendation engine</li>
      <li>like</li>
      <li>follow</li>
      <li>comment</li>
      <li>save posts</li>
      <li>organisation of posts by carteory</li>
    </ul>
    <h3>Features implemented using external packages</h3>
    <ul>
      <li>django-mptt for creating a cartegory tree with parents and children relationship</li>
      <li>django-widget_tweaks for form beautificaion</li>
      <li>whitenoise for serving staticfiles on deployment</li>
    </ul>
    <h3>to know more, visit my github,   <a href="#"><i class="fa fa-github"></i></a></h3>

  </div>
<div class="jumbotron jumbotron-fluid" id="first_jumbo1">
  <div class="container text-center ">
    <h2>About Raymond</h2>

    <!-- <h3>This pa</h3> -->
  </div>
  </div>


<div class="container">
  <img src="{% static 'write_space/images/Raymond.jpg' %}" alt="" id="profile_pic">
  <h4>I am Raymond, An electrical/electronics technician and a chatbot developer(now, also a software developer)
    from Anambra State Nigeria.<br>
  I built this site as path of my development journey toward becoming a django developer and for the purpose of appplying
  for the internship offered by the django community.<br>
  Since you are here, i would love it if you
go through the site, check things out and give me feedback on what i did and didn't do right.<br>
You can reach me on the links below</h4>




  <div class="text-center" >
    <a href="#" class="about_anchor"><i class="fa fa-twitter"></i></a>
    <a href="https://linkedin.com/in/raymond-olisaemeka-3a67b9160" class="about_anchor"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>
  </div>

</div>

<br>
<br>
<br>
{%endblock%}
