{%extends "header_footer.html"%}
{%load staticfiles%}


{%block content%}


<br>
<br>
<div class="jumbotron jumbotron-fluid" id="first_jumbo1">
  <div class="container text-center ">
    <h2>About This Project</h2>

    <!-- <h3>This pa</h3> -->
  </div>
  </div>
  <div class="container">
    <h3>This is an open-source blog project built on Django</h3>
    <h4>If you would love to make a suggestion or a pull request, visit <a href="https://github.com/NdibeRaymond/Write_space"><i class="fa fa-github 2x"></i></a> to get started</h4>

  </div>
<div class="jumbotron jumbotron-fluid" id="first_jumbo1">
  <div class="container text-center ">
    <h2>About Raymond</h2>

  </div>
  </div>


<div class="container">
  <img src="{% static 'write_space/images/Raymond.png' %}" alt="" id="profile_pic" style="margin: 0 auto;display:block">
  <h4>I am Raymond, Outreachy intern 2020, a Full-stack Web Developer focusing on Frontend, a Chatbot Develper and a Google Cloud Engineer<br>
  This project was built and is being maintained by me as an open-source multi-user blogging project. we accept all kinds of contributions and would be very happy if you can consider contributing.<br>
  Since you are here, it would be great if you
go through the site, check things out and drop you feedback on what looks right and what doesn't.<br>
You can reach me on the links below</h4>




  <div class="text-center" >
    <a href="#" class="about_anchor"><i class="fa fa-twitter"></i></a>
    <a href="https://linkedin.com/in/raymond-olisaemeka-3a67b9160" class="about_anchor"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/NdibeRaymond" class="about_anchor"><i class="fa fa-github"></i></a>
  </div>

</div>

<br>
<br>
<br>
{%endblock%}
