{% extends "header_footer.html" %}
{% load staticfiles %}
{% load cloudinary %}

{% block content %}

<div class="container change_profile_pic">
  {% include 'accounts/includes/_cloudinary_elements.html' %}
  <hr>
  <form class="user_pic_form" enctype="multipart/form-data" method="post">
      {%csrf_token%}
      <button type="submit" name="button" class="btn btn-primary">Done</button>
      <a href="{% url 'accounts:user_profile' username=request.user.username pk=request.user.pk %}">
        <input type="button" name="" value="Cancel" class="btn btn-primary"></a>
  </form>

</div>
<br>
<br>
<br>
<br>



{% endblock %}
