{% extends "header_footer.html" %}
{% load staticfiles %}

{% block content %}

<div class="container choose_profile_pic">
  {% include 'accounts/includes/_cloudinary_elements.html' %}
  <hr>
  <form class="user_pic_form" enctype="multipart/form-data" method="post">
      {%csrf_token%}
      <button type="submit" name="button" class="btn btn-primary">Done</button>
      <a href="{% url 'landing_page' %}">
        <input type="button" name="" value="Skip" class="btn btn-primary"></a>
  </form>

</div>
<br>
<br>
<br>
<br>



{% endblock %}
