{%extends "header_footer.html"%}

{%block content%}
<div class="container-fluid">
  <br>
  <br>
  <br>
  <br>

  {%if current_cartegory%}
  <div class="row">
    <div class="">
  {%for cartegory in current_cartegory%}
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 content" id="all">
          {%if cartegory.image%}
           <img src="{{cartegory.image.url}}" alt="" width="100%" id="all_img">
           {%endif%}
          <a href="{%url 'posts:cartegory' name=cartegory.name %}">
              <h1 class="no_underline text-center">{{cartegory.name}}</h1>
          </a>
          {%if cartegory in request.user.userprofile.interests.all %}
          <a class="btn btn-primary" href="{% url 'posts:leave_cartegory' pk=cartegory.pk%}" style="float:right">Leave</a>
          {%else%}
          <a class="btn btn-primary" href="{% url 'posts:join_cartegory' pk=cartegory.pk%}" style="float:right">Join</a>
          {%endif%}
        </div>



  {%endfor%}
  </div>
  </div>


  {%endif%}



      {%if current_cartegory_posts%}
      <div class="container">
        <div class="row">
          <div class="text-center">
            <h3>Cartegory posts</h3>
          </div>
      {% for post in current_cartegory_posts %}
      {%if request.user == post.author or post.publish_date %}

      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 post" id="all">
        {%if post.main_image%}
        <div class=" banner_post_image"  >
        <img src="{{post.main_image.url}}" class="img-responsive" alt="" id="all_img">
      </div>
      {%endif%}
      <div class=" banner_post_content">
        <div>
          <h1 class="text-center"><a href="{% url 'posts:post_detail' pk=post.pk %}">{{post.title}}</a></h1>
        </div>
        <div>
          <h4 class="text-muted">{{post.post_heading|truncatechars:64}}</h4>
        </div>
        <div>
          <h5><a href="{%url 'accounts:user_profile' pk=post.author.pk username=post.author.username %}">{{post.author}}</a></h5>


          {%if post.publish_date%}
          <p>{{post.publish_date|date:"D M Y"}}</p>
          {%endif%}

        </div>
       <p>Comments: {{post.comments.all.count}}</p>
      </div>
      </div>
      {%endif%}
      {%endfor%}

    </div>
  </div>

  {%endif%}

</div>

{%endblock%}
