{%extends "header_footer.html"%}

{%block content%}
<div class="">
  <br>
  <br>
  <br>
  <br>

  {%if current_cartegory%}
    <div class="flex_post_container">
      <div style="width:100%">
        <h3 class="text-center">Cartegories</h3>
      </div>
  {%for cartegory in current_cartegory%}
        <div class="post flex_post" id="all">
          {%if cartegory.image%}
          <div>
             <img src="{{cartegory.image}}" alt="" width="100%" id="all_img">
           </div>
           {%endif%}
          <a class="all_post_content__title__a" href="{%url 'posts:cartegory' name=cartegory.name %}">
              <h1 class="no_underline text-center">{{cartegory.name}}</h1>
          </a>
          {%if cartegory in request.user.userprofile.interests.all %}
          <a class="btn btn-danger" href="{% url 'posts:leave_cartegory' pk=cartegory.pk%}">Leave</a>
          {%else%}
          <a class="btn btn-primary" href="{% url 'posts:join_cartegory' pk=cartegory.pk%}">Join</a>
          {%endif%}
        </div>
  {%endfor%}
  </div>

  {%endif%}


    <div class="flex_post_container">
      {%if current_cartegory_posts%}
      <div style="width:100%">
        <h3 class="text-center">Cartegory posts</h3>
      </div>
      {% for post in current_cartegory_posts %}
      {%if request.user == post.author or post.publish_date %}

      <div class="post flex_post" id="all">
        {%if post.main_image%}
        <div class=" banner_post_image">
        <img src="{{post.main_image}}" class="img-responsive" alt="" id="all_img">
      </div>
      {%endif%}
      <div class="all_post_content">
        <div>
          <h1 class="all_post_content__title"><a class="all_post_content__title__a" href="{% url 'posts:post_detail' pk=post.pk %}">{{post.title}}</a></h1>
        </div>
        <div>
          <h4 class="text-muted all_post_content__body">{{post.post_heading|truncatechars:40}}</h4>
        </div>
       <div>
         <h5 class="all_post_content_creator"><a class="all_post_content__creator__a" href="{%url 'accounts:user_profile' pk=post.author.pk username=post.author.username %}">{{post.author}}</a> in {{post.cartegory}}</h5>
         <p>{{post.publish_date|date:"d M, Y"}}
           <i class="fa fa-circle fa-xs" style="font-size:6px;display:inline-block;margin:0 1em 0 1em" aria-hidden="true"></i>
           <i class="black fa fa-thumbs-o-up" aria-hidden="true">&nbsp; {{post.clap.all.count}}</i>
           <i class="fa fa-circle fa-xs" style="font-size:6px;display:inline-block;margin:0 1em 0 1em" aria-hidden="true"></i>
           <i class="fa fa-comments-o" aria-hidden="true">&nbsp; {{post.comments.all.count}}</i></p>
       </div>
      </div>
      </div>
      {%endif%}
      {%endfor%}
      {%else%}
      <div style="width:100%">
        <h3 class="text-center">Cartegory posts</h3>
      </div>
      {%include 'posts/includes/_no_posts.html' %}
      {%endif%}
  </div>



</div>

{%endblock%}
