{% extends "header_footer.html" %}
{% load staticfiles %}


{% block content %}

 <br>
 <br>
 <br>
 <div class="flex_featured_post_container">

   <!-- featured posts starts here -->
   <div style="width:100%">
   <h1 class="text-center">Featured Posts</h1>
   </div>
       {% if most_popular_0 %}
       <div class="post flex_featured_post--0" id="featured">
       {%if most_popular_0.main_image%}
       <div class="banner_post_image">
         <img src="{{most_popular_0.main_image}}" class="img-responsive" alt="" id="featured_img">
       </div>
       {%endif%}
       <div class="banner_post_content">
         <div>
           <h2 class="banner_post_content__title"><a class="banner_post_content__title__a" href="{% url 'posts:post_detail' pk=most_popular_0.pk %}">{{most_popular_0.title}}</a></h2>
         </div>
         <div>
           <h4 class="text-muted banner_post_content__body">{{most_popular_0.post_heading|truncatechars:64}}</h4>
         </div>
         <div>
         <h5 class="banner_post_content__creator"><a class="banner_post_content__creator__a" href="{%url 'accounts:user_profile' pk=most_popular_0.author.pk username=most_popular_0.author.username %}">{{most_popular_0.author}}</a> in {{most_popular_0.cartegory}}</h5>
         <p>{{most_popular_0.publish_date|date:"d M, Y"}}
           <i class="fa fa-circle fa-xs" style="font-size:10px;display:inline-block;margin:0 1.2em 0 1.2em" aria-hidden="true"></i>
           <i class="black fa fa-thumbs-o-up fa-lg" aria-hidden="true">&nbsp; {{most_popular_0.clap.all.count}}</i>
           <i class="fa fa-circle fa-xs" style="font-size:10px;display:inline-block;margin:0 1.2em 0 1.2em" aria-hidden="true"></i>
           <i class="fa fa-comments-o fa-lg" aria-hidden="true">&nbsp; {{most_popular_0.comments.all.count}}</i>
         </p>
       </div>
       </div>
       </div>
       {% endif %}

       {% if most_popular_1 %}
       <div class="post flex_featured_post--0" id="featured">
         {%if most_popular_1.main_image%}
         <div class=" banner_post_image">
         <img src="{{most_popular_1.main_image}}" class="img-responsive" alt=""  id="featured_img">
       </div>
        {%endif%}
       <div class=" banner_post_content">
         <div>
            <h2 class="banner_post_content__title"><a class="banner_post_content__title__a" href="{% url 'posts:post_detail' pk=most_popular_1.pk %}">{{most_popular_1.title}}</a></h2>
         </div>
         <div>
           <h4 class="text-muted banner_post_content__body">{{most_popular_1.post_heading|truncatechars:64}}</h4>
         </div>
         <div>
           <h5  class="banner_post_content__creator"><a class="banner_post_content__creator__a" href="{%url 'accounts:user_profile' pk=most_popular_1.author.pk username=most_popular_1.author.username %}">{{most_popular_1.author}}</a> in {{most_popular_1.cartegory}}</h5>
           <p>{{most_popular_1.publish_date|date:"d M, Y"}}
             <i class="fa fa-circle fa-xs" style="font-size:10px;display:inline-block;margin:0 1.2em 0 1.2em" aria-hidden="true"></i>
             <i class="black fa fa-thumbs-o-up fa-lg" aria-hidden="true">&nbsp; {{most_popular_1.clap.all.count}}</i>
             <i class="fa fa-circle fa-xs" style="font-size:10px;display:inline-block;margin:0 1.2em 0 1.2em" aria-hidden="true"></i>
             <i class="fa fa-comments-o fa-lg" aria-hidden="true">&nbsp; {{most_popular_1.comments.all.count}}</i>
           </p>
         </div>
       </div>
       </div>
       {% endif %}

       {% if most_popular_2 %}
      <div class="post flex_featured_post--1" id="featured1">
       {%if most_popular_2.main_image%}
       <div class=" banner_post_image" >
       <img src="{{most_popular_2.main_image}}" class="img-responsive" alt=""  id="featured_img1">
     </div>
      {%endif%}
     <div class=" banner_post_content">
       <div>
          <h2 class="banner_post_content__title"><a class="banner_post_content__title__a" href="{% url 'posts:post_detail' pk=most_popular_2.pk %}">{{most_popular_2.title}}</a></h2>
       </div>
       <div>
         <h4 class="text-muted banner_post_content__body">{{most_popular_2.post_heading|truncatechars:64}}</h4>
       </div>
       <div>
         <h5 class="banner_post_content__creator"><a class="banner_post_content__creator__a" href="{%url 'accounts:user_profile' pk=most_popular_2.author.pk username=most_popular_2.author.username %}">{{most_popular_2.author}}</a> in {{most_popular_2.cartegory}}</h5>
         <p>{{most_popular_2.publish_date|date:"d M, Y"}}
           <i class="fa fa-circle fa-xs" style="font-size:10px;display:inline-block;margin:0 1.2em 0 1.2em" aria-hidden="true"></i>
           <i class="black fa fa-thumbs-o-up fa-lg" aria-hidden="true">&nbsp; {{most_popular_2.clap.all.count}}</i>
           <i class="fa fa-circle fa-xs" style="font-size:10px;display:inline-block;margin:0 1.2em 0 1.2em" aria-hidden="true"></i>
           <i class="fa fa-comments-o fa-lg" aria-hidden="true">&nbsp; {{most_popular_2.comments.all.count}}</i>
         </p>
       </div>
     </div>
      </div>
      {% endif %}

       {% if most_popular_3 %}
       <div class="post flex_featured_post--1" id="featured1">
         {%if most_popular_3.main_image%}
         <div class=" banner_post_image" >
         <img src="{{most_popular_3.main_image}}" class="img-responsive" alt=""  id="featured_img1">
       </div>
        {%endif%}
       <div class=" banner_post_content">
         <div>
            <h2 class="banner_post_content__title"><a class="banner_post_content__title__a" href="{% url 'posts:post_detail' pk=most_popular_3.pk %}">{{most_popular_3.title}}</a></h2>
         </div>
         <div>
           <h4 class="text-muted banner_post_content__body">{{most_popular_3.post_heading|truncatechars:64}}</h4>
         </div>
         <div>
           <h5 class="banner_post_content__creator"><a class="banner_post_content__creator__a" href="{%url 'accounts:user_profile' pk=most_popular_3.author.pk username=most_popular_3.author.username %}">{{most_popular_3.author}}</a> in {{most_popular_3.cartegory}}</h5>
           <p>{{most_popular_3.publish_date|date:"d M, Y"}}
             <i class="fa fa-circle fa-xs" style="font-size:10px;display:inline-block;margin:0 1.2em 0 1.2em" aria-hidden="true"></i>
             <i class="black fa fa-thumbs-o-up fa-lg" aria-hidden="true">&nbsp; {{most_popular_3.clap.all.count}}</i>
             <i class="fa fa-circle fa-xs" style="font-size:10px;display:inline-block;margin:0 1.2em 0 1.2em" aria-hidden="true"></i>
             <i class="fa fa-comments-o fa-lg" aria-hidden="true">&nbsp; {{most_popular_3.comments.all.count}}</i>
           </p>
         </div>
       </div>
       </div>
       {% endif %}

       {% if most_popular_4 %}
       <div class="post flex_featured_post--1" id="featured1">
         {%if most_popular_4.main_image%}
         <div class=" banner_post_image" >
         <img src="{{most_popular_4.main_image}}" class="img-responsive" alt="" id="featured_img1">
       </div>
       {%endif%}
       <div class=" banner_post_content">
         <div>
           <h2 class="banner_post_content__title"><a class="banner_post_content__title__a" href="{% url 'posts:post_detail' pk=most_popular_4.pk %}">{{most_popular_4.title}}</a></h2>
         </div>
         <div>
           <h4 class="text-muted banner_post_content__body">{{most_popular_4.post_heading|truncatechars:64}}</h4>
         </div>
         <div>
           <h5 class="banner_post_content__creator"><a class="banner_post_content__creator__a" href="{%url 'accounts:user_profile' pk=most_popular_4.author.pk username=most_popular_4.author.username %}">{{most_popular_4.author}}</a>  in {{most_popular_4.cartegory}}</h5>
           <p>{{most_popular_4.publish_date|date:"d M, Y"}}
             <i class="fa fa-circle fa-xs" style="font-size:10px;display:inline-block;margin:0 1.2em 0 1.2em" aria-hidden="true"></i>
             <i class="black fa fa-thumbs-o-up fa-lg" aria-hidden="true">&nbsp; {{most_popular_4.clap.all.count}}</i>
             <i class="fa fa-circle fa-xs" style="font-size:10px;display:inline-block;margin:0 1.2em 0 1.2em" aria-hidden="true"></i>
             <i class="fa fa-comments-o fa-lg" aria-hidden="true">&nbsp; {{most_popular_4.comments.all.count}}</i>
           </p>
         </div>
       </div>
       </div>
       {% endif %}
       
     </div>
   <!-- featured posts ends here -->

 <hr>
 <div class="contentDiv">
   <div class="jumbotron" id = "first_jumbo">
   <img src="{% static 'write_space/images/633.svg' %}" alt="" id="contentdiv_img">

     <div class="container text-center v-center">
       <h1 id="display-2">Writing Should Be Easy</h1>
     </div>
       <a href="#lead"><img class="arrow" src="{% static 'write_space/images/angle-arrow-down(4).png' %}" /></a>

   </div>
 </div>

</div>
 <hr>

   <div class="flex_post_container">
     <div style="width:100%">
       <h1 class="text-center">All Posts</h1>
    </div>
     {% for post in all_posts %}
       <div class="post flex_post" id="all">
       {%if post.main_image%}
       <div class="banner_post_image" >
       <img src={{post.main_image}} alt="" class="img-responsive" id="all_img">
     </div>
     {%endif%}
     <div class="all_post_content">
       <div>
         <h2 class="all_post_content__title"><a class="all_post_content__title__a" href="{% url 'posts:post_detail' pk=post.pk %}">{{post.title}}</a></h2>
       </div>
       <div>
         <h4 class="text-muted all_post_content__body">{{post.post_heading|truncatechars:40}}</h4>
       </div>
       <div>
         <h5 class="all_post_content_creator"><a class="all_post_content__creator__a" href="{%url 'accounts:user_profile' pk=post.author.pk username=post.author.username %}">{{post.author}}</a> in {{post.cartegory}}</h5>
         <p>{{post.publish_date|date:"d M, Y"}}
           <i class="fa fa-circle fa-xs" style="font-size:6px;display:inline-block;margin:0 1em 0 1em" aria-hidden="true"></i>
           <i class="black fa fa-thumbs-o-up" aria-hidden="true">&nbsp; {{post.clap.all.count}}</i>
           <i class="fa fa-circle fa-xs" style="font-size:6px;display:inline-block;margin:0 1em 0 1em" aria-hidden="true"></i>
           <i class="fa fa-comments-o" aria-hidden="true">&nbsp; {{post.comments.all.count}}</i></p>
       </div>
     </div>
     </div>
     {%empty%}
     {% include 'posts/includes/_no_posts.html' %}
     {% endfor %}
   </div>

{% endblock %}
