{% extends "header_footer.html" %}
{% load staticfiles %}


{% block content %}

 <br>
 <br>
 <br>
 <div class="container">

   <!-- featured posts starts here -->
   <h1 class="text-center">Featured Posts</h1>
   <div class="row">
     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 post banner_post" id="featured">
       {%if most_popular_0.main_image%}
       <div class=" banner_post_image" >
         <img src="{{most_popular_0.main_image.url}}" class="img-responsive" alt="" id="featured_img">
       </div>
       {%endif%}
       <div class=" banner_post_content">
         <div>
           <h2 class="text-center"><a href="{% url 'posts:post_detail' pk=most_popular_0.pk %}">{{most_popular_0.title}}</a></h2>
         </div>
         <div>
           <h4 class="text-muted">{{most_popular_0.post_heading|truncatechars:64}}</h4>
         </div>
         <div>
         <h5><a href="{%url 'accounts:user_profile' pk=most_popular_0.author.pk username=most_popular_0.author.username %}">{{most_popular_0.author}}</a></h5>
         <p>published on {{most_popular_0.publish_date|date:"D M Y"}}</p>
       </div>
        <p>Comments: {{most_popular_0.comments.all.count}}</p>
       </div>
     </div>


       <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 post" id="featured">
         {%if most_popular_1.main_image%}
         <div class=" banner_post_image">
         <img src="{{most_popular_1.main_image.url}}" class="img-responsive" alt=""  id="featured_img">
       </div>
        {%endif%}
       <div class=" banner_post_content">
         <div>
            <h2 class="text-center"><a href="{% url 'posts:post_detail' pk=most_popular_1.pk %}">{{most_popular_1.title}}</a></h2>
         </div>
         <div>
           <h4 class="text-muted">{{most_popular_1.post_heading|truncatechars:64}}</h4>
         </div>
         <div>
           <h5><a href="{%url 'accounts:user_profile' pk=most_popular_1.author.pk username=most_popular_1.author.username %}">{{most_popular_1.author}}</a></h5>
           <p>published on {{most_popular_1.publish_date|date:"D M Y"}}</p>
         </div>
         <p>Comments: {{most_popular_1.comments.all.count}}</p>
       </div>


       </div>

       <div class="row">
         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 post" id="featured1">
           {%if most_popular_2.main_image%}
           <div class=" banner_post_image" >
           <img src="{{most_popular_2.main_image.url}}" class="img-responsive" alt=""  id="featured_img1">
         </div>
          {%endif%}
         <div class=" banner_post_content">
           <div>
              <h2 class="text-center"><a href="{% url 'posts:post_detail' pk=most_popular_2.pk %}">{{most_popular_2.title}}</a></h2>
           </div>
           <div>
             <h4 class="text-muted">{{most_popular_2.post_heading|truncatechars:64}}</h4>
           </div>
           <div>
             <h5><a href="{%url 'accounts:user_profile' pk=most_popular_2.author.pk username=most_popular_2.author.username %}">{{most_popular_2.author}}</a></h5>
             <p>published on {{most_popular_2.publish_date|date:"D M Y"}}</p>
           </div>
           <p>Comments: {{most_popular_2.comments.all.count}}</p>
         </div>
         </div>


         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 post"  id="featured1">
           {%if most_popular_3.main_image%}
           <div class=" banner_post_image" >
           <img src="{{most_popular_3.main_image.url}}" class="img-responsive" alt=""  id="featured_img1">
         </div>
          {%endif%}
         <div class=" banner_post_content">
           <div>
              <h2 class="text-center"><a href="{% url 'posts:post_detail' pk=most_popular_3.pk %}">{{most_popular_3.title}}</a></h2>
           </div>
           <div>
             <h4 class="text-muted">{{most_popular_3.post_heading|truncatechars:64}}</h4>
           </div>
           <div>
             <h5><a href="{%url 'accounts:user_profile' pk=most_popular_3.author.pk username=most_popular_3.author.username %}">{{most_popular_3.author}}</a></h5>
             <p>published on {{most_popular_3.publish_date|date:"D M Y"}}</p>
           </div>
           <p>Comments: {{most_popular_3.comments.all.count}}</p>
         </div>
         </div>


         <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 post" id="featured1">
           {%if most_popular_4.main_image%}
           <div class=" banner_post_image" >
           <img src="{{most_popular_4.main_image.url}}" class="img-responsive" alt="" id="featured_img1">
         </div>
         {%endif%}
         <div class=" banner_post_content">
           <div>
             <h2 class="text-center"><a href="{% url 'posts:post_detail' pk=most_popular_4.pk %}">{{most_popular_4.title}}</a></h2>
           </div>
           <div>
             <h4 class="text-muted">{{most_popular_4.post_heading|truncatechars:64}}</h4>
           </div>
           <div>
             <h5><a href="{%url 'accounts:user_profile' pk=most_popular_4.author.pk username=most_popular_4.author.username %}">{{most_popular_4.author}}</a></h5>
             <p>published on {{most_popular_4.publish_date|date:"D M Y"}}</p>
           </div>
          <p>Comments: {{most_popular_4.comments.all.count}}</p>
         </div>
         </div>
       </div>
     </div>
   </div>
   <!-- featured posts ends here -->

 <hr>
 <div class="contentDiv">
   <div class="jumbotron" id = "first_jumbo">
   <img src="{% static 'write_space/images/633.svg' %}" alt="" id="contentdiv_img">

     <div class="container text-center v-center">
       <h1 id="display-2">Writing Should Be Easy</h1>
     </div>
       <a href="#lead"><img class="arrow" src="{% static 'write_space/images/angle-arrow-down(4).png' %}" /></a>

   </div>
 </div>

</div>
 <hr>

   <div class="container">
     <h1 class="text-center">All Posts</h1>
   <div class="row">
     {% for post in all_posts %}
     <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="all">
       {%if post.main_image%}
       <div class=" banner_post_image" >
       <img src={{post.main_image.url}} alt="" class="img-responsive" id="all_img">
     </div>
     {%endif%}
     <div class=" banner_post_content">
       <div>
         <h2 class="text-center"><a href="{% url 'posts:post_detail' pk=post.pk %}">{{post.title}}</a></h2>
       </div>
       <div>
         <h4 class="text-muted">{{post.post_heading|truncatechars:64}}</h4>
       </div>
       <div>
         <h5><a href="{%url 'accounts:user_profile' pk=post.author.pk username=post.author.username %}">{{post.author}}</a></h5>
         <p>published on {{post.publish_date|date:"D M Y"}}</p>
       </div>
        <p>Comments: {{post.comments.all.count}}</p>
     </div>
     </div>
     {%empty%}
     <div class="jumbotron">
       <h3>No post yet. click on "New post" to create a post</h3>
     </div>
     {% endfor %}
   </div>

   </div>

{% endblock %}
