{%extends "header_footer.html"%}
{%load staticfiles%}

{%block content%}
<br>
<br>
<br>
<br>

{%if request.user == user %}
<div class="container">
  <a href="{%url 'posts:create_post' username=request.user.username %}"><button type="button" class="btn btn-primary" style="float: right;">
    <i class="fa fa-pencil" style="font-size: 16px;"></i> Create New Post</button></a>
</div>
<br>
{%endif%}


{%if user_post%}


<div class="flex_post_container">

    {% for post in user_post %}

    {%if request.user == post.author or post.publish_date %}
    <div class="post flex_post" id="all">
      {%if post.main_image%}
      <div class=" banner_post_image">
      <img src="{{post.main_image}}" class="img-responsive" alt="" id="all_img">
    </div>
    {%endif%}
    <div class="all_post_content">
      <div>
        <h1 class="all_post_content__title"><a class="all_post_content__title__a" href="{% url 'posts:user_post_detail' username=post.author.username pk=post.pk %}">{{post.title}}</a></h1>
      </div>
      <div>
        <h4 class="text-muted all_post_content__body">{{post.post_heading|truncatechars:40}}</h4>
      </div>
      <div>
        <h5 class="all_post_content_creator"><a class="all_post_content__creator__a" href="{%url 'accounts:user_profile' pk=post.author.pk username=post.author.username %}">{{post.author}}</a></h5>

        <p>
        {%if post.publish_date%}
        published on {{post.publish_date|date:"d M, Y"}}
        {%else%}
        created on {{post.created_at|date:"d M, Y"}}
        {%endif%}
        </p>
        <i class="fa fa-circle fa-xs" style="font-size:6px;display:inline-block;margin:0 1em 0 1em" aria-hidden="true"></i>
        <i class="fa fa-comments-o" aria-hidden="true">&nbsp; {{post.clap.all.count}}</i>
        <i class="fa fa-circle fa-xs" style="font-size:6px;display:inline-block;margin:0 1em 0 1em" aria-hidden="true"></i>
        <i class="fa fa-comments-o" aria-hidden="true">&nbsp; {{post.comments.all.count}}</i>
      </div>
    </div>
    </div>
    {%endif%}
    {%endfor%}

  </div>

{%else%}
{% include 'posts/includes/_no_posts.html' %}
{%endif%}

{%endblock%}
