{%extends 'header_footer.html'%}
{%load staticfiles%}



{%block content %}
<br>
<br>
<br>
<br>


	<div class="container content">
      <div class="">

        <div class="loader">
					<div class="">
						<h1 class="post-title text-center">{{post.title}}</h1>
							<h3 class="text-center text-muted">{{post.post_heading|safe|linebreaksbr}}</h3>
						<div class="row text-center">
							{%if post.author.userprofile_pic%}
							<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 ">
	             <img src="{{post.author.userprofile.profile_pic.url}}" class="img-responsive avatar" alt="">
               <hr>
							 {%endif%}
							 <a href="{%url 'accounts:user_profile' pk=post.author.pk username=post.author.username %}"><h5 class="name">{{post.author}}</h5></a>
							 <br>
               {%if request.user != post.author %}
							 {%if not request.user.userprofile in post.author.userprofile.follower.all %}
							 <a href="{%url 'accounts:follow' username=post.author.username pk=post.author.pk %}">
							 <button type="button" class="btn btn-primary"><span class="">Follow</span>
							 </button>
							 </a>
							 {%else%}
							 <a href="{%url 'accounts:unfollow' username=post.author.username pk=post.author.pk %}">
							 <button type="button" class="btn btn-primary"><span class="">Unfollow</span>
							 </button>
							 </a>
							 {%endif%}
							 {%endif%}
							</div>

						</div>
						<div class="row">
							<div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">

							</div>
						</div>

            <hr>


            {% if post.publish_date%}
            <div class="date postdate">
              <p>published on {{post.publish_date}}</p>
            </div>
            {% else %}
            {%if request.user == post.author%}
            <p>created on {{post.created_at}}</p>
            {%endif%}
            {% endif %}
          </div>
					{%if post.main_image%}
					<img src="{{post.main_image.url}}" class="img-responsive" id="detail_img" alt="">
					{%endif%}

          <br>
          <div class="date postdate">
            <span class="glyphicon glyphicon-eye-open">{{post.viewed.count}}</span>
            {%if post.author == request.user %}
            <span class="glyphicon glyphicon-thumbs-up">{{post.clap.count}}</span>
            {%else%}
            <a href="{%url 'posts:clap' pk=post.pk %}"><span class="glyphicon glyphicon-thumbs-up">{{post.clap.count}}</span></a>
            {%endif%}

            {%if post.author == request.user%}
            {%if post.publish_date%}
            <a class="btn btn-default" href="{% url 'posts:post_unpublish' pk=post.pk%}">Unpublish</a>
            {%else%}
            <a class="btn btn-default" href="{% url 'posts:post_publish' pk=post.pk%}">Publish</a>
            {%endif%}
            <a class="btn btn-primary" href="{% url 'posts:edit_post' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a class="btn btn-primary" href="{% url 'posts:delete_post' username=post.author.username pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {%endif%}
          </div>
					<div class="" id="post_text">
						<h4>{{post.text|safe|linebreaksbr}}</h4>
	          <hr>
					</div>

          </div>
          </div>
	   </div>
     {%if request.user != post.author%}

		 <div class="container">
			<div class="row">
				<h3 class="text-center">Recommended Read</h3>

					{%if rec_history%}
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 post" id="featured1">
				 {%if rec_history.main_image%}
				 <div class=" banner_post_image" >
				 <img src="{{rec_history.main_image.url}}" class="img-responsive" alt="" id="featured_img1">
			 </div>
			 {%endif%}
			 <div class=" banner_post_content">
				 <div>
					 <h2 class="text-center"><a href="{% url 'posts:post_detail' pk=rec_history.pk %}">{{rec_history.title}}</a></h2>
				 </div>
				 <div>
					 <h4 class="text-muted">{{rec_history.post_heading|truncatechars:64}}</h4>
				 </div>
				 <div>
					 <h5><a href="{%url 'accounts:user_profile' pk=rec_history.author.pk username=rec_history.author.username %}">{{rec_history.author}}</a></h5>
					 <p>published on {{rec_history.publish_date|date:"D M Y"}}</p>
				 </div>
				<p>Comments: {{rec_history.comments.all.count}}</p>
			 </div>
			 </div>
			 {%endif%}

			 {%if rec_follow%}
			 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 post" id="featured1">
				 {%if rec_follow.main_image%}
				 <div class=" banner_post_image" >
				 <img src="{{rec_follow.main_image.url}}" class="img-responsive" alt="" id="featured_img1">
			 </div>
			 {%endif%}
			 <div class=" banner_post_content">
				 <div>
					 <h2 class="text-center"><a href="{% url 'posts:post_detail' pk=rec_follow.pk %}">{{rec_follow.title}}</a></h2>
				 </div>
				 <div>
					 <h4 class="text-muted">{{rec_follow.post_heading|truncatechars:64}}</h4>
				 </div>
				 <div>
					 <h5><a href="{%url 'accounts:user_profile' pk=rec_follow.author.pk username=rec_follow.author.username %}">{{rec_follow.author}}</a></h5>
					 <p>published on {{rec_follow.publish_date|date:"D M Y"}}</p>
				 </div>
				<p>Comments: {{rec_follow.comments.all.count}}</p>
			 </div>
			 </div>
			 {%endif%}

			 {%if rec_interest%}
			 <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 post" id="featured1">
				 {%if rec_interest.main_image%}
				 <div class=" banner_post_image" >
				 <img src="{{rec_interest.main_image.url}}" class="img-responsive" alt="" id="featured_img1">
			 </div>
			 {%endif%}
			 <div class=" banner_post_content">
				 <div>
					 <h2 class="text-center"><a href="{% url 'posts:post_detail' pk=rec_interest.pk %}">{{rec_interest.title}}</a></h2>
				 </div>
				 <div>
					 <h4 class="text-muted">{{rec_interest.post_heading|truncatechars:64}}</h4>
				 </div>
				 <div>
					 <h5><a href="{%url 'accounts:user_profile' pk=rec_interest.author.pk username=rec_interest.author.username %}">{{rec_interest.author}}</a></h5>
					 <p>published on {{rec_interest.publish_date|date:"D M Y"}}</p>
				 </div>
				<p>Comments: {{rec_interest.comments.all.count}}</p>
			 </div>
			 </div>
			 {%endif%}

			</div>
		 </div>
       {%endif%}


		 <br>
		 <br>
     {%if post.publish_date%}
		 <div class="container">
		 	<a class="btn btn-primary btn-comment" href="{% url 'posts:add_comment_to_post' pk=post.pk %}">Add Comment</a>
		 </div>
     {%endif%}
		 <br>


		 <div class="container comment">
			<table border="0">


				{% for comment in post.comments.all %}


			 <tr>
				 <td>
					 <br>

					<div class="comment">
						{%if comment.author.userprofile.profile_pic%}
						<img src="{{comment.author.userprofile.profile_pic.url}}" class="avatar" alt="">
            {%endif%}
					 <a href="{%url 'accounts:user_profile' pk=comment.author.pk username=comment.author.username %}"><p class="mini_pro">{{comment.author}}</p></a>
					 <p class="mini_pro">{{comment.created_at}}</p>
					</div>
					<br>

				</td>
				 <td
				 <br>

					 <p>{{comment.text|safe|linebreaks}}</p>
				 <br>
			 </td>

			 </tr>

						{% empty %}
						<div class="jumbotron">
							<h2>No comments</h2>
						</div>

					{% endfor %}
					</table>
					</div>
					<br>
					<br>
					<br>
{%endblock%}
